declare namespace O23 {
	/** 000 - 099, 400 - 699 */
	type HttpErrorCode = string;

	interface HttpErrorHandleOptions<In = any, InFragment = any> {
		$errorCode: HttpErrorCode;
		$url: string;
		$response?: Response;
		$factor: InFragment;
		// @ts-ignore
		$request: PipelineStepData<In>;
	}
}

declare var $options: O23.HttpErrorHandleOptions;
