declare namespace O23 {
	interface ErrorHandleOptions<In, InFragment, E extends Error = Error> {
		$code: string;
		$error: E;
		$factor: InFragment;
		// @ts-ignore
		$request: PipelineStepData<In>;
	}
}
