name: Test Generate Release Note

on:
  workflow_dispatch:
    inputs:
      current-tag:
        description: 'Current Tag'
        required: true

jobs:
  compute-version:
    name: Generate Release Note
    runs-on: ubuntu-latest
    steps:
      - name: Generate Release Note
        id: generate-note
        uses: mikepenz/release-changelog-builder-action@v4.1.0
        with:
          toTag: ${{ github.event.inputs.current-tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Echo pre-release branch
        id: output-version
        run: echo ${{steps.generate-note.outputs.changelog}}
